In [3]:
import pandas as pd

In [4]:
AUDIO_METADATA_PATH = '../Data/audio_metadata.csv'

In [30]:
df = pd.read_csv(AUDIO_METADATA_PATH)
df

,Unnamed: 0,dir,fn,channels,sample_width,frame_rate,n_frames,compression_type,compression_name
0,0,1,03-01-05-01-01-01-01_A1.wav,1,2,48000,185786,NONE,not compressed
1,1,1,03-01-05-01-01-01-02_A2.wav,1,2,48000,176176,NONE,not compressed
2,2,1,03-01-05-01-01-01-03_A3.wav,1,2,48000,192192,NONE,not compressed
3,3,1,03-01-05-01-01-01-04_A4.wav,1,2,48000,177778,NONE,not compressed
4,4,1,03-01-05-01-01-01-05_A5.wav,1,2,48000,185786,NONE,not compressed
...,...,...,...,...,...,...,...,...,...
854,854,5,03-01-04-02-02-02-20_A20.wav,1,2,48000,190590,NONE,not compressed
855,855,5,03-01-04-02-02-02-21_A21.wav,1,2,48000,198599,NONE,not compressed
856,856,5,03-01-04-02-02-02-22_A22.wav,1,2,48000,184184,NONE,not compressed
857,857,5,03-01-04-02-02-02-23_A23.wav,1,2,48000,227427,NONE,not compressed
858,858,5,03-01-04-02-02-02-24_A24.wav,1,2,48000,224224,NONE,not compressed

In [7]:
parameters_df = df[['channels', 'sample_width', 'frame_rate', 'n_frames']]
parameters_df.head(10)

   channels  sample_width  frame_rate  n_frames
0         1             2       48000    185786
1         1             2       48000    176176
2         1             2       48000    192192
3         1             2       48000    177778
4         1             2       48000    185786
5         1             2       48000    180981
6         1             2       48000    192192
7         1             2       48000    177778
8         1             2       48000    171371
9         1             2       48000    187387

In [27]:
print('Getting missing values:')
parameters_df[parameters_df.isna().any(axis=1)]

Getting missing values:

Empty DataFrame
Columns: [channels, sample_width, frame_rate, n_frames]
Index: []

In [29]:
print('Getting non-null values:')
parameters_df[parameters_df.notna().any(axis=1)]

Getting non-null values:

     channels  sample_width  frame_rate  n_frames
0           1             2       48000    185786
1           1             2       48000    176176
2           1             2       48000    192192
3           1             2       48000    177778
4           1             2       48000    185786
..        ...           ...         ...       ...
854         1             2       48000    190590
855         1             2       48000    198599
856         1             2       48000    184184
857         1             2       48000    227427
858         1             2       48000    224224

[859 rows x 4 columns]

In [32]:
unique_channels = df.channels.unique()
print('Unique channels: {}'.format(unique_channels))

Unique channels: [1 2]

In [34]:
print('Removing this from data set:')
df[df.channels == 2]

Removing this from data set:

,Unnamed: 0,dir,fn,channels,sample_width,frame_rate,n_frames,compression_type,compression_name
290,290,2,03-01-02-01-01-02-01_A1.wav,2,2,48000,172972,NONE,not compressed
334,334,2,03-01-02-01-02-02-05_A5.wav,2,2,48000,203403,NONE,not compressed
495,495,3,03-01-03-01-02-01-20_A20.wav,2,2,48000,166566,NONE,not compressed

In [39]:
df = df[df.channels == 1]
df.shape[0]

856

In [40]:
unique_sample_width = df.sample_width.unique()
print('Unique sample widths: {}'.format(unique_sample_width))

Unique sample widths: [2]

In [41]:
unique_frame_rate = df.frame_rate.unique()
print('Unique frame rate: {}'.format(unique_frame_rate))

Unique frame rate: [48000]

In [42]:
n_frames = df.n_frames
print('min: {}\nmax: {}\nmean: {}\nmedian: {}'
      .format(n_frames.min(), n_frames.max(), n_frames.mean(), n_frames.median()))

min: 140941
max: 230630
mean: 177090.94626168226
median: 176176.0

In [43]:
n_frames.describe()

count       856.000000
mean     177090.946262
std       14541.088847
min      140941.000000
25%      167767.750000
50%      176176.000000
75%      184184.000000
max      230630.000000
Name: n_frames, dtype: float64

<p>
As a result of audio metadata processing, it has been decided to remove those 3 audios
that have not 1 audio channel.</p>
<p>
These files:
<ol>
    <li> 2/03-01-02-01-01-02-01_A1.wav
    <li> 2/03-01-02-01-02-02-05_A5.wav
    <li> 3/03-01-03-01-02-01-20_A20.wav
</ol>
</p>